:root {
  --pink: #F20746;
  --blue: #5B92D9;
  --green: #A7BF4E;
  --light-grey: #e6e3ea;
  --mid-grey: #979499;
  --dark-grey: #414042;
  --ci-orange: #f06339;
}

body {
  font-family: Ubuntu, sans-serif;
  color: var(--dark-grey);
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.pink {
  color: var(--pink);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.background-grey {
  background-color: var(--dark-grey);
}

.page {
  color: var(--light-grey);
}

.spacer {
  color: var(--mid-grey);
}

.header {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
}

.mono {
  font-family: "Ubuntu Mono"
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  z-index: 3;
}

.brand {
  font-size: 2em;
  font-weight: bold;
  margin-left: 2vw;
}

.nav-buttons {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    margin-right: 2vw;
}

li {
  display: inline-block;
  padding: 0 10px;
}

nav a {
  text-decoration: none;
  color: var(--dark-grey);
}

nav a:hover {
 color: var(--pink); 
}

#welcome-section {
  background: url("images/dm-lighthouse-composite.jpg") no-repeat top center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: black;
  text-align: center;
  font-size: 5em;
  margin: 1vw;
  text-transform: uppercase;
  font-family: "Vollkorn+SC", serif;
  letter-spacing: 0.06em;
  opacity: 0.3;
  transform: translateZ(-2px);
}

.quick-info {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 5vw;
}

.info-card{
  width: 30vw;
  background-color: rgba(250, 250, 250, 0.9);
  padding: 2vw;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form > * {
  margin: 0.5vw;
  padding: 0.5vw;
}

.form-field {
  width: 33vw;
}

#projects {
  padding: 90px 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 2vw;
  grid-auto-flow: row;
}

.project-tile {
  background-color: #fff;
  border-radius: 6px;
  padding: 9px;
}

.project-image {
  box-sizing: border-box;
  border: solid 1px var(--dark-grey);
  max-width: 100%;
  display: block;
  margin: 0 auto 10px auto;
  height: auto;
}

.button {
  font-size: 1em;
  color: #fff;
  border-radius: 0 6px;
  margin: 7px;
  text-decoration: none;
  padding: 3px;
}

.project-button {
  background-color: var(--blue);
}

.repo-button {
  background-color: var(--green);
}

.prototype-button {
  background-color: var(--pink);
}

#testimonials {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 70px 5vw;
  background: url("images/xd-mobile-design-50.png") no-repeat top center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.client-quote {
  font-size: 1.2em;
  width: 30vw;
  background-color: rgba(250, 250, 250, 0.9);
  padding: 2vw;
}

svg {
  height: 4px;
  width: 50%;
  display: block;
  margin: 0 auto; 
}

line {
   stroke: var(--dark-grey);
   stroke-width: 2px; 
  }

.client {
  font-weight: bolder;
  text-align: center;
}

.company {
  font-family: "Ubuntu Mono";
  text-align: center;
}

.quote-l {
  float: left;
}

.quote-r {
  float: right;
}

#latest-repl {
  display: flex;
  flex-direction: row;
  padding: 100px 2vw;
  justify-content: space-between;
  letter-spacing: 0.05em;
}

.repl-text {
  color: var(--light-grey);
  display: block;
  margin-right: 1vw;
}

.repl-text a {
  text-decoration: none;
  color: var(--ci-orange);
}

.repl-text a:hover {
  text-decoration: underline;
}

iframe {
  height: 70vh;
  width: 65vw;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}

footer a {
  text-decoration: none;
  color: var(--dark-grey)
}

footer a:hover {
  color: var(--pink);
}

footer .fab {
  font-size: 2em;
}

@media screen and (min-width: 421px) and (max-width: 1000px) {

  #navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    z-index: 3;
  }

  #welcome-section {
    padding-top: 100px;
  }

  h1 {
    font-size: 4em;
  }

  .info-card{
    width: 33vw;
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.4em;
    -webkit-margin-start: 0.4em;
    -webkit-margin-end: 0.4em;
  }

  .form-field {
    width: 60vw;
  }

  #projects {
    padding: 100px 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 2vw;
    grid-auto-flow: row;
  }

  #testimonials {
    padding: 100px 5vw;
  }

  .client-quote {
    width: 33vw;
    font-size: 1em;
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.4em;
    -webkit-margin-start: 0.4em;
    -webkit-margin-end: 0.4em;
  }

  #latest-repl {
    display: flex;
    flex-direction: column;
    padding: 100px 2vw;
  }

  iframe {
    height: 70vh;
    width: 90vw;
  }

  footer .fab {
    font-size: 1em;
  }

}

@media screen and (max-width: 420px) {

  .xs-hidden {
    display: none;
  }

  .header {
    text-align: center;
  }

  .brand {
    font-size: 1.3em;
    margin-left: 0;
  }

    .tagline {
    font-size: 0.7em;
    margin-left: 2vw;
  }

  #navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    z-index: 3;
  }

  #welcome-section {
    padding-top: 80px;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 2.2em;
  }

  .quick-info {
    flex-direction: column;
    justify-content: center;
    margin: 2vh auto;
  }

  .info-card{
    width: 70vw;
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.4em;
    -webkit-margin-start: 0.4em;
    -webkit-margin-end: 0.4em;
  }

  .form-field {
    width: 70vw;
  }

  #projects {
    padding: 80px 7vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-gap: 5vw;
    grid-auto-flow: column;
  }

  #testimonials {
    padding: 80px 5vw;
    flex-direction: column;
    justify-content: center;
  }

  .client-quote {
    width: 75vw;
    font-size: 1em;
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.4em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
  }

  #latest-repl {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .header {
    font-size: 1.2em;
    margin-top: 5vh;
  }

  .brand {
    margin-left: 0;
  }

  .nav-buttons {
    font-size: 0.9em;
    padding: 5px;
  }

  footer {
    width: 90vw;
    justify-content: space-between;
  }

  footer .fab {
    font-size: 1em;
  }
}